// .cards_main {
//   background-image: url('../images/bg-simple.png');
//   background-size: cover;
//   background-position: left;
//   background-repeat: no-repeat;
// }

@media all and (min-width: 768px) {
  .cards_main {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 40px;
    &--form {
      width: 50%;
    }
    &--preview {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: rgba(254, 256, 125, 0.5);
      border-radius: 15px;
    }
  }
}
@media all and (min-width: 1200px) {
  .cards_main {
    max-width: 1000px;
    margin: 0 auto;
  }
}
