.cards_main {
  // min-height: 84vh;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  padding-bottom: 28px;

  &--preview {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
  }
  &--form {
    margin: 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
  }
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 40px;
    &--form {
      width: 40%;
      padding: 17px 20px 28px 20px;
      margin-bottom: 15px;
    }
    &--preview {
      width: 50%;
      border-radius: 15px;
      min-height: 80vh;
    }
  }
}
