// .cards_main {
//   background-image: url('../images/bg-simple.png');
//   background-size: cover;
//   background-position: left;
//   background-repeat: no-repeat;
// }

.cards_main {
  min-height: 84vh;
  &--preview {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(254, 256, 125, 0.5);
    margin: 0;
  }
  &--form {
    margin: 0 20px;
  }
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 40px;
    &--form {
      width: 50%;
      padding: 17px 20px 28px 20px;
    }
    &--preview {
      width: 50%;
      border-radius: 15px;
      min-height: 80vh;
    }
  }
  @media all and (min-width: 1200px) {
    max-width: 1000px;
    margin: 0 auto;
  }
}
