// fonts
$fontTitle: "Merriweather", serif;
$fontText: "Open Sans", sans-serif;
$fontCard: "Montserrat", sans-serif;

// colors
$colorbutton: #438792;
$colorBackground: #f5f5f5;
$colorTitle: #e17334;
$colorText: #114e4e;
$colorpalette2: #438792;
$colorpalette3: #a2deaf;
$colorpalette4: #420101;
$colorpalette5: #bd1010;
$colorpalette6: #e95626;
$colorpalette7: #3e5b65;
$colorpalette8: #eab052;
$colorpalette9: #a0c0cf;

//Newpalette

$colorNewButton: #64b778;
$colorSecundary: #ffa969;
$colorComp: #9e673e;
$colorOsc: #212121;
