<!-- <div class="collapsible">
    <div class="icon-design"><i class="far @@icon"></i></div>
    <div class="design-text">@@title</div>
    <div class="arrow"><i class="fas fa-chevron-down section__icon2"></i></div>
</div> -->

<div class="collapsiblebox @@clase">
  <div class="collapsible">
    <div class="collapsible__icon"><i class="far @@icon"></i></div>
    <div class="collapsible__title">@@title</div>
    <div class="arrow">
      <i class="fas fa-chevron-down collapsible__icon2 @@arrowmove"></i>
    </div>
  </div>
  <div class="line"></div>
</div>