<include src="./collapsible.html" title="diseña" icon="fa-object-ungroup" clase="js-cdesign" arrowmove="js-arrowD">
</include>

<div class="js-design marginform">
  <h3 class="colortext">colores</h3>

  <fieldset class="design">
    <label class="design__option-label label1">
      <input type="radio" name="palette" class="design__option-radio js-palette" value="1" checked id="blue" />
      <ul class="palette-1">
        <li class="design__option-color color-1"></li>
        <li class="design__option-color color-2"></li>
        <li class="design__option-color color-3"></li>
      </ul>
    </label>
    <label class="design__option-label label2">
      <input type="radio" name="palette" class="design__option-radio js-palette" value="2" id="red" />
      <ul class="palette-2">
        <li class="design__option-color color-4"></li>
        <li class="design__option-color color-5"></li>
        <li class="design__option-color color-6"></li>
      </ul>
    </label>
    <label class="design__option-label label3">
      <input type="radio" name="palette" class="design__option-radio js-palette" value="3" id="yellow" />
      <ul class="palette-3">
        <li class="design__option-color color-7"></li>
        <li class="design__option-color color-8"></li>
        <li class="design__option-color color-9"></li>
      </ul>
    </label>
  </fieldset>
</div>