<div class="background"></div>
<div class="star"></div>
<div class="plant"></div>

<main class="main">

    <div class="logotype">
        <img class="logotype__image--ec" src="./assets/images/ec.png" alt="logotipo"
            title="Awesome profile cards"></img>
        <div class="logotype__rectangle">
            <div class="logotype__circle">
                <img class="logotype__circle--hojas" src="./assets/images/hojas.png" alt="hojas">
            </div>
        </div>
        <img class="logotype__image--de" src="./assets/images/de.png" alt="logo" title="Awesome profile cards"></img>
    </div>

    <h1 class="main__title">Crea tu tarjeta de visita</h1>
    <p class="main__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <section class="main__section">
        <div class="main__section-box">
            <div class="main__section-box--icon"><i class="far fa-object-ungroup"></i></div>
            <div class="main__section-box--text">Diseña</div>
        </div>
        <div class="main__section-box">
            <div class="main__section-box--icon"><i class="far fa-keyboard"></i></div>
            <div class="main__section-box--text">Rellena</div>
        </div>
        <div class="main__section-box">
            <div class="main__section-box--icon"><i class="fas fa-share-alt"></i></div>
            <div class="main__section-box--text">Comparte</div>
        </div>
    </section>
    <button class="main__button" type="button"><a class="main__button--link" href="cards.html"
            title="comenzar">Comenzar</a></button>
</main>