<section class="container1">
  <button class="button_reset" type="reset">
    <i class="fa fa-trash" aria-hidden="true"></i>reset
  </button>
  <div class="card">
    <div class="card_header">
      <div class="rectangle"></div>
      <div class="name_job">
        <div class="name">Mileva Marić</div>
        <div class="job">Matemática</div>
      </div>
    </div>
    <div class="card_image js__profile-preview"></div>
    <div class="logos">
      <div class="icon js-icon1 opacity">
        <a href="tel:" class="link1 js-phone" target="_blank"
          ><i class="fas fa-mobile-alt iconcolor"></i
        ></a>
      </div>
      <div class="icon js-icon2 opacity">
        <a href="mailto:" class="link1 js-email" target="_blank"
          ><i class="far fa-envelope iconcolor"></i
        ></a>
      </div>
      <div class="icon js-icon3 opacity">
        <a href="" class="link1 js-linkedin" target="_blank"
          ><i class="fab fa-linkedin-in iconcolor"></i
        ></a>
      </div>
      <div class="icon js-icon4 opacity">
        <a href="" class="link1 js-github" target="_blank"
          ><i class="fab fa-github-alt iconcolor"></i
        ></a>
      </div>
    </div>
  </div>
</section>
