<include src="./collapsible.html" title="comparte" icon="fas fa-share-alt" arrowmove="js-arrowS" clase="js-cshare">
</include>

<div class="marginform">
  <fieldset class="share_form js-share">
    <container class="container__share">
      <button class="container__share--button js-createcard" type="button">
        <a class="share__button--link" title="Crear Tarjeta" target="_blank"><i class="far fa-address-card"></i>Crear
          Tarjeta</a>
      </button>
      <div class="twitter_button js-response hidden">
      </div>
      <button class="container__share--twitter js-twitter hidden" type="button">
        <a class="share__twitter--link js-linkTwitter" title="Twitter" target="_blank"><i class="fab fa-twitter"></i>
          Compartir en
          Twitter</a>
      </button>
    </container>
  </fieldset>
</div>